.header-imagem{
    background-image: url("../img/cachoeira.jpg");
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 15.625rem;
}

.header-titulo{
    z-index: 3;
    position: fixed;
    top: 15%;
    left: 5%;
    font-size: 50px;
    color: white;
    background-color: rgba(0, 0, 0, 0.432);

}

.pre-conteudo-caixa{
    background-color: #009edb;
    box-shadow: 2px 4px rgba(0, 0, 0, 0.212);
}

.pre-conteudo-titulo{
    color: white;
    font-size: 60px;
    margin-top: 5rem;
    font-weight: 800;
}

.pre-conteudo-texto{
    color: white;
    font-size: 30px;

}