.header-imagem{
    background-image: url("../../img/cachoeira.jpg");
    background-position: center;
    background-size: cover;
    width: auto;
    height: 15.625rem;
}

.header-titulo{
    z-index: 3;
    position: absolute;
    top: 15%;
    left: 5%;
    font-size: 50px;
    color: white;
    background-color: rgba(0, 0, 0, 0.432);

}